body{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
    font-family: "Avenir";
}
:focus{
	outline: none;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.left-panel{
	background: #262626;
	width: 300px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	padding: 0;
}
.left-panel h2{
	text-align: center;
	padding: 10px;
}
.left-panel h2 a{
	color: #fe7521;
	font-size: 22px;
	text-decoration: none;
}
.left-panel .categories{
	list-style-type: none;
	height: calc(100vh - 20px);
}
.left-panel .categories li{
	display: block;
	padding: 10px;
}
.left-panel .categories li:hover a, .left-panel .categories li .active{
	color: #fe7521;
}
.left-panel .categories a{
	text-decoration: none;
	color: #fff;
}
.right-panel{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #1e1e1e;
}
.right-panel header{
	background: #262626;
	width: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.right-panel .search input[type=text] {
	padding: 6px;
	font-size: 17px;
	border: none;
	border-radius: 50px;
	width: 400px;
}
.right-panel .search button{
	border: 0;
	padding: 0 !important; 
	background: none;
	padding: 2px 5px;
	position: relative;
	left: -28px;
	top: -2px;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#fe7521;
}
.right-panel .login a{
	color: #fe7521;
	text-decoration: none;
}
.right-panel .book-list{
	padding: 30px;
	height: calc(100vh - 57px);
}
.right-panel .book-list a{
	text-decoration: none;
}
.right-panel .book-list a img{
	height: 250px;
}
.right-panel .book-list a .b-title{
	font-size: 16px;
	color: #fe7521;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
}
.right-panel .book-list a .b-author{
	font-size: 12px;
	margin:0; 
	color: #989898;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
}
.available{
	color: #009900;
	font-size: 12px;
	font-weight: normal;
}
.not-available{
	color: #ff0000;
	font-size: 12px;
	font-weight: normal;
}
.pagination{
	margin-top: 20px;
}
.pagination .page-link{
	color: #1e1e1e;
}
.page-item.active .page-link, .page-link:hover {
	background-color: #fe7521;
	border-color: #fe7521;
	color: #fff;
}

/*book detail page*/
.book-detail{
	padding: 30px;
}
.book-detail .back-page{
	margin-bottom: 10px;
}
.book-detail .back-page a{
	color: #989898;
	text-decoration: none;
}
.book-detail .back-page a:hover{
	color: #fff;
}
.book-detail .title{
	color: #fe7521;
	font-size: 22px;
	font-weight: 600;
	margin: 0;
}
.book-detail .author{
	color: #989898;
	font-size: 18px;
	font-weight: 400;
}
.book-detail .description{
	color: #fff;
	text-align: justify;
	height: 100vh;
}
.book-detail .available, .book-detail .not-available{
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
}


/*dashboard*/

/*add book*/
.add-book, .add-member, .edit-book-list{
	padding: 30px;
}
.add-book h4, .add-member h4{
	text-align: center;
	color: #fff;
}
.add-book .label-text, .add-member .label-text{
	color: #fff;
}
input[type="file"] {
	display: block;
	color: #fff;
}
.btn-custom-orange{
	background: #fe7521;
	color: #fff;
	width: 30%;
}

/*add Member*/
.add-member{
	display: none;
}

/*book list*/
.edit-book-list{
	display: none;
	height: 100vh;
}
.edit-book-list table, th, td{
	color: #fff;
}
.edit-book-list table{
	text-align: center;
}
.edit-book-list .edit{
	color: #fe7521;
	font-size: 12px;
}
.t-left{
	text-align: left;
}