<div class="right-panel">
    <header>
        <div class="f-left search">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search" [(ngModel)]="searchText">
                <button class="btn" type="button">
                    <span class=" fa fa-search"></span>
                </button>
            </form>
        </div>
        <div class="f-right login">
            <a href="#">Login / Signup</a>
        </div>
    </header>
    <div class="book-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 text-center" *ngFor="let movie of movieList | filter:searchText">
                    <a routerLink= "/movie-detail/{{movie.id}}" class="mb-4 h-100">
                        <img [src]="movie.thumbnailUrl" class="img-fluid img-thumbnail img-responsive">
                        <p class="b-title">{{movie.title}}</p>
                    </a>
                </div>
            </div>
        </div>			
    </div>
</div>