<div class="container book-detail">
    <div class="row">
        <div class="col-md-4">
            <img src="" class="img-fluid img-thumbnail img-responsive">
            <h6 class="available">{{MovieDetailId}}</h6>	
        </div>
        <div class="col-md-8">
            <p class="title">{{MovieDetailDescription}}</p>
        </div>
    </div>
</div>